EINSTEIN_VISION_ACCOUNT_ID = email@email.com
EINSTEIN_VISION_PRIVATE_KEY = "-----BEGIN RSA PRIVATE KEY-----\nMIIE...=\n-----END RSA PRIVATE KEY-----"
EINSTEIN_VISION_URL = "https://api.einstein.ai"
EINSTEIN_MODEL_ID =
